.schedule-wrapper{
    background-color: #012D5A;
    padding: 40px 10px 0px 10px;

    h3 {
        margin: 0;
        font-size: 40px;
        color: #ffffff;
        text-align: center;
    }
}
.calendar-cards {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .calendar-cards h2 {
    margin: 10px;
    padding-bottom: 4px;
    text-align: center;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #012D5A;
    letter-spacing: -1px;
    border-bottom: 3px dashed #66717a6a;
  }
  .calendar-cards p {
    margin: 2px;
    padding-bottom: 0px;
    text-align: center;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #012D5A;
  }
  .calendar-card {
    position: relative;
    margin: 10px;
    border-radius: 10px;
    min-width: 300px;
    max-width: 400px;
    height: 420px;
    box-shadow:
      rgba(0, 0, 0, 0.16) 0px 3px 6px,
      rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  }
  .calendar-card-description {
    width: 380px;
    min-height: 200px;
    padding: 0 10px 0 10px;
    color: #66717a;
    font-size: 16px;
    ol{    
        padding: 0px 18px;
        li{
            margin: 7px 0px;
        }
        li::marker{
            font-weight: 700;
        }
    }
  }
  .calendar-card-mentors{
    padding: 0 10px;
    h5{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    ul{
        margin: 0;
        padding: 0 5px;
        list-style-type: none;
        li{
            margin: 0;
            padding: 0;
            font-weight: 700;
            font-size: 14px;
        }
    }
  }
  @media (max-width: 839px) {
    .calendar-card {
        height: auto;
        width: 320px;
      }
      .calendar-card-description {
        min-height: auto;
        max-width: 290px;
    }
    .calendar-card-mentors{
        padding-bottom: 10px;
      }
  }

  ol {
    list-style-type: none; 
    counter-reset: num;
  }
  ol li {
    position: relative;	
  }
  ol li:before {
    content: counter(num); 
    counter-increment: num;
    display: inline-block;
    position: absolute;
    top: 0;
    left: -22px;
    width: 18px;
    height: 18px;
    background: #012D5A;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    border-radius: 50%;
  }
  .calendar-bottom-text{
    margin-top: 20px;
    color: white;
  }