
.count-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    h3 {
        margin: 0;
        text-align: center;
        font-weight: 600;
        font-size: 30px;
        background: linear-gradient(rgb(252, 251, 251), rgb(185, 185, 186));
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;
      }
}

.text-wrapper{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(252, 251, 251), rgb(185, 185, 186));
    border-radius: 5px;
    width: 60px;
    height: 50px;
    p{
        color: #012D5A;
        font-size: 32px;
        font-weight: 800;
    }
}