.carousel-section{
    h3{
        margin-top: 10px;
        margin-bottom: 40px;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        font-style: normal;
        background: linear-gradient(rgb(252, 251, 251), rgb(185, 185, 186));
        -webkit-background-clip: text;
                background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.carousel-wrapper{
    position: relative;
    display: flex;
    height: 100%;
    margin-bottom: 40px;
}

.carousel-content{
    display: flex;
    width: 100%;
    position: relative;
    z-index: 20;
    overflow-x: hidden;
}
.carousel-wrapper::before{
    content: '';
    width: 16px;
    position: absolute;
    top:0; /* растягиваем под размер блока */
    left:-6px;
    bottom:0; 
    border-left: 16px solid #012D5A;
    filter: blur(3px);
    z-index: 23;
  }
  .carousel-wrapper::after{
    content: '';
    width: 16px;
    position: absolute;
    top:0; /* растягиваем под размер блока */
    right:-6px;
    bottom:0; 
    border-right: 16px solid #012D5A;
    filter: blur(3px);
    z-index: 23;
  }
.feedback-card{
    position: relative;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    p{
        position: absolute;
        color: gray;
        top: 19%;
        left: 12%;
        font-size: 12px;
        width: 230px;
    }
    h4{
        position: absolute;
        color: gray;
        top: 58%;
        left: 28%;
        width: 140px;
        font-size: 14px;
    }
}
@media (max-width: 420px) {
    .feedback-card{
        p{
            font-size: 12px;
        }
    }
    .carousel-section{
        h3{
            font-size: 30px;
            margin-bottom: 12px;
        }
    }
  }